{% extends 'home/layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  .deneme{
      height: 480px;
      width: 350px;
  }
</style>

  <div class="container mt-4">
    <h1 class="my-4 text-center">Belirli Kanala Ait Videolar</h1>
    <div class="row">
        {% for ders in dersler %}
        <div class="col-md-4 mb-4">
            <div class="card deneme shadow  ms-auto ">
              <div class="card-body">
              <h5 class="card-title text-center my-4">{{ ders.title }}</h5>
                <div class="embed-responsive item-center my-4 text-center mt-2 embed-responsive-16by9">
                    <iframe class="  embed-responsive-item" src="https://www.youtube.com/embed/{{ ders.video_id }}" allowfullscreen></iframe>
                </div>
                    <p class=" my-4 card-text text-center">{{ ders.description }}</p>
                   
                </div> <a href="{% url 'dersler:ders_detay' ders.video_id %}" class=" my-5 btn btn-warning d-block mx-auto">Detayları Gör</a>
                
            </div>
           
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}